<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Buscar Drinks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Buscar Drinks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="search()"
    placeholder="Ex: margarita, mojito, gin..."
    debounce="400"
    animated="true">
  </ion-searchbar>

  <div *ngIf="loading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="!loading && searched && drinks.length === 0" class="ion-text-center ion-padding">
    <ion-icon name="search-outline" size="large" color="medium"></ion-icon>
    <p>Nenhum drink encontrado.</p>
  </div>

  <div *ngIf="!loading && !searched" class="ion-text-center ion-padding">
    <ion-icon name="wine-outline" size="large" color="medium"></ion-icon>
    <p>Digite o nome de um drink para buscar.</p>
  </div>

  <ion-list *ngIf="!loading && drinks.length > 0">
    <ion-item *ngFor="let drink of drinks" button="true" (click)="openDetails(drink)">
      <ion-thumbnail slot="start">
        <img [src]="drink.strDrinkThumb" [alt]="drink.strDrink" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ drink.strDrink }}</h2>
        <p>{{ drink.strCategory }}</p>
        <p>{{ drink.strAlcoholic }}</p>
      </ion-label>
      <ion-icon name="chevron-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
